# Originate: https://gist.github.com/benhuang1024/.gitignore
# Author: ben<benhuang1024@gmail.com>

# other
vendor/
.vagrant

# IDE
.idea/
.vscode
nbproject/private/
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# JavaScript
node_modules/
npm-debug.log
yarn-error.log

# Laravel  & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
Envoy.blade.php


# Rocketeer PHP task runner and deployment package。
.rocketeer/

# Laravel Box
samples/

# PHPUnit
.phpunit.result.cache
